<div class="container" style="margin-top: 100px;  margin-bottom: 100px">
<div class="row" style="text-align: center;">
<div class="col">
<img src="https://www.w3schools.com/bootstrap/img_avatar2.png" class="media-object" style="width:160px">
</div>
</div>
<div class="row evdiv" style="text-align: center; margin-bottom: 100px">
<div class="col">
<h1>Luis Enrique Alfonso</h1>
</div>
</div>
<div class="row">
<div class="col-5">
	<app-my-calendar></app-my-calendar>
</div>
<div class="col-7">
	<div class="container">
	<div class="row">
	<div class="col">
	<h2>Usuarios registrados</h2>
	</div>
	</div>
	<div class="row border rounded evdiv">
	<div class="col-8">
	<div class="media" style="margin-top: 10px">

  <div class="media-left">
    <img src="https://www.w3schools.com/bootstrap/img_avatar4.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body" style="margin-left: 10px">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-plus fa-2x" aria-hidden="true" title="Agregar a mis Amigos"></i>
  			</a>
  			<a class="btn btn-default" routerLink="/profile">
   				<i class="fa fa-user-circle fa-2x" aria-hidden="true" title="Ver perfil"></i>
  			</a>
		</div>
	</div>
	</div>
<!--     <ul>
        <li *ngFor="let user of users">
            {{user.email}} ( {{user.name}} )
            - <a (click)="addFriend(user.id)">Añadir Amigo</a>
        </li>
    </ul> -->
	<div class="row sdiv">
	<div class="col">
	<h2>Invitaciones de Amistad</h2>
	</div>
	</div>
		<div class="row border rounded evdiv">
	<div class="col-8">
	<div class="media" style="margin-top: 10px">

  <div class="media-left">
    <img src="https://www.w3schools.com/bootstrap/img_avatar2.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body" style="margin-left: 10px">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
		  	<a class="btn btn-default" href="#">
   				<i class="fa fa-check-square-o fa-2x" aria-hidden="true" title="Aceptar"></i>
  			</a>
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-times fa-2x" aria-hidden="true" title="Rechazar"></i>
  			</a>
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-user-circle fa-2x" aria-hidden="true" title="Ver perfil"></i>
  			</a>
		</div>
	</div>
	</div>
		<div class="row border rounded evdiv">
	<div class="col-8">
	<div class="media" style="margin-top: 10px">

  <div class="media-left">
    <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body" style="margin-left: 10px">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
		  	<a class="btn btn-default" href="#">
   				<i class="fa fa-check-square-o fa-2x" aria-hidden="true" title="Aceptar"></i>
  			</a>
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-times fa-2x" aria-hidden="true" title="Rechazar"></i>
  			</a>
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-user-circle fa-2x" aria-hidden="true" title="Ver perfil"></i>
  			</a>
		</div>
	</div>
	</div>


<!--     <ul>
        <li *ngFor="let user of usersRequests">
            {{user.email}} ( {{user.name}} )
            - <a (click)="aceptFriend(user.id)">Aceptar Amistad</a>
        </li>
    </ul> -->
    <div class="row sdiv">
	<div class="col">
	<h2>Mis Amigos</h2>
	</div>
	</div>
		<div class="row border rounded evdiv">
	<div class="col-8">
	<div class="media" style="margin-top: 10px">

  <div class="media-left">
    <img src="https://www.w3schools.com/bootstrap/img_avatar6.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body" style="margin-left: 10px">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-user-circle fa-2x" aria-hidden="true" title="Ver perfil"></i>
  			</a>
		</div>
	</div>
	</div>
		<div class="row border rounded evdiv">
	<div class="col-8">
	<div class="media" style="margin-top: 10px">

  <div class="media-left">
    <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
  </div>
  <div class="media-body" style="margin-left: 10px">
    <h4 class="media-heading">John Doe</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-user-circle fa-2x" aria-hidden="true" title="Ver perfil"></i>
  			</a>
		</div>
	</div>
	</div>
<!--     <ul>
        <li *ngFor="let user of friends">
            {{user.email}} ( {{user.name}} )
            - <a (click)="viewProfile(user.id)">Ver perfil</a>
        </li>
    </ul> -->
</div>
</div>
</div>