<div id="search-component" class="form-group form-inline">
<!--
  <div class="col-sm-2 col-xs-1"></div>
  <label class="control-label col-sm-2 col-xs-3 right-space">Buscar eventos o usuarios</label>
-->
  <input #searchBox (keyup)="search(searchBox.value);" class="form-control mr-sm-2"
  style="height: 2.5em" placeholder="Buscar eventos o usuarios"/>
</div>
<div class="form-group form-inline">
  <div class="col-sm-2 col-xs-1"></div>
  <!-- <label class="control-label col-sm-2 col-xs-3 right-space" for="event_place"> </label> --->
<label *ngIf="isTyping()">
    <div class="dropdown">
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul id="list">
          Eventos
            <div *ngFor="let event of events | async" class="col-sm-5 pre-scrollable option-box" (click)="goToEvent(event);" class="search-result" style="height: 2.5em">
               <li class="dropdown-item" >
                 {{event.name}} {{event.date}}
               </li>
            </div>
            <div class="dropdown-divider"></div>
          Usuarios
            <div *ngFor="let user of users | async" class="col-sm-5 pre-scrollable option-box" (click)="goToUser(user);" class="search-result" style="height: 2.5em">
               <li class="dropdown-item" >
                 {{user.name}} {{user.lastname}}
                <span class="nickname">{{user.nickname}}</span>
               </li>
            </div>
          </ul>
        </div>
    </div>
  </label>
</div>
