.search-result{
  width: 100%;
  /*width:195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;*/
}

.search-result:hover {
  background-color: #83cfe5 !important;
}

.search-result:active{
  background-color: black;
}

#search-box{
  width: 200px;
  height: 20px;
}

.option-box{
  height: 8em;
  background: whitesmoke;
  padding: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}
.dropdown-menu{
  display: block;
  margin: .125rem -41px 0px;
  width: 14.88em;
  max-height: 500px;

}

.nickname{
  color: green;
}

#list{
  padding: 1em, 0px, 0px, 0px !important;
  /*padding-left: 1em !important;*/
}
