<h2>Próximos Eventos</h2>
<div class="row border rounded evdiv" *ngFor="let event of events">
	<div class="col-8">
		<div class="media" style="margin-top: 10px">
			<div class="media-left">
				<img src="assets/iconos/{{event.category_id}}.png" class="media-object" style="width:60px">
			</div>
			<div class="media-body" style="margin-left: 10px">
				<h5 class="media-heading"> {{event.name}} </h5>
				<i class="fa fa-calendar" aria-hidden="true"><img class="img_icon" src="assets/icons/calendar.svg"/></i> Fecha: {{event.beginAt | date: 'fullDate'}} <br>
				<i class="fa fa-clock-o" aria-hidden="true"><img class="img_icon" src="assets/icons/clock.svg"/></i> Hora: {{event.beginAt | date:'shortTime' }}
			</div>
		</div>
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
			<a class="btn btn-default" (click)="goToEvent(event);">
   				<i class="fa fa-info-circle" aria-hidden="true" title="Más Información"><img class="img_icon" src="assets/icons/info-circle.svg"/></i>
  			</a>
			<!-- <a class="btn btn-default" href="#">
   				<i class="fa fa-trash" aria-hidden="true" title="Eliminar de mi lista"><img class="img_icon" src="assets/icons/trash.svg"/></i>
  			</a> -->
		</div>
	</div>
</div>
<div style="height: 20px"></div>
<div *ngIf="isReady">
    <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
</div>
<div class="row evdiv">
	<div class="col" style="text-align: center">
		<a class="btn btn-default" routerLink="/addevent" (click)="loadHaveFriend()"><i class="fa fa-map-o fa-5x" aria-hidden="true" title="Agregar Nuevo Evento"><img width="143px" src="assets/icons/add.svg"/></i></a>
	</div>
</div>
<!--       <div *ngFor="let row of data" class="container">
				        <div *ngFor="let item of row" class="container">
				          {{ item.id + ': ' + item.name }}
				        </div>
				      </div> quitar comentario para implementaci[on de api-->
