<h2>Próximos Eventos</h2>
<div class="row border rounded evdiv">
	<div class="col-8">
		<h5> Evento de prueba </h5>
		<i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 22 - 22 - 2222 <br>
		<i class="fa fa-clock-o" aria-hidden="true"></i> Hora: 22:22
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-info-circle" aria-hidden="true" title="Más Información"></i>
  			</a>
  			  <a class="btn btn-default" href="#">
   				<i class="fa fa-trash" aria-hidden="true" title="Eliminar de mi lista"></i>
  			</a>
		</div>
	</div>
</div>
<div class="row border rounded evdiv">
	<div class="col-8">
		<h5> Evento de prueba 2</h5>
		<i class="fa fa-calendar" aria-hidden="true"></i> Fecha: 23 - 23 - 2223 <br>
		<i class="fa fa-clock-o" aria-hidden="true"></i> Hora: 23:23
	</div>
	<div class="col-4" style="text-align: right">
		<div class="btn-group">
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-info-circle" aria-hidden="true" title="Más Información"></i>
  			</a>
  			  <a class="btn btn-default" href="#">
   				<i class="fa fa-trash" aria-hidden="true" title="Eliminar de mi lista"></i>
  			</a>
  			<a class="btn btn-default" href="#">
   				<i class="fa fa-pencil-square-o" aria-hidden="true" title="Administrar"></i>
  			</a>
		</div>
	</div>
</div>
<div class="row evdiv">
<div class="col" style="text-align: center">
<a class="btn btn-default" routerLink="/addevent"><i class="fa fa-map-o fa-5x" aria-hidden="true" title="Agregar Nuevo Evento"></i></a>
</div>
</div>
				      
				<!--       <div *ngFor="let row of data" class="container">
				        <div *ngFor="let item of row" class="container">
				          {{ item.id + ': ' + item.name }}
				        </div>
				      </div> quitar comentario para implementaci[on de api-->
				      
