<div align="center">
<form>
    <div class="form-group">
        <label for="user_fistName">Nombre</label>
        <input type="text" class="form-control" #user_firstName id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_lastName">Apellido</label>
        <input type="text" class="form-control" #user_lastName id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_email">Email</label>
        <input type="text" class="form-control" #user_email id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_nickname">Nickname</label>
        <input type="text" class="form-control" #user_nickname id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_dateDay">Dia</label>
        <input type="text" class="form-control" #user_dateDay id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_dateMonth">Mes</label>
        <input type="text" class="form-control" #user_dateMonth id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_dateYear">Año</label>
        <input type="text" class="form-control" #user_dateYear id="email" style="width: 15em">
    </div>
    <div class="form-group">
        <label for="user_password">Contraseña</label>
        <input type="text" class="form-control" #user_password id="pwd" style="width: 15em">
    </div>
    <a routerLink="/login"><button (click)="add(user_firstName.value, user_lastName.value, user_email.value, user_nickname.value, user_dateDay.value, user_dateMonth.value, user_dateYear.value, user_password.value)" type="submit" class="btn btn-success custom-width-buttons">Crear usuario</button></a>
    <a routerLink="/login"><button type="submit" class="btn btn-success custom-width-buttons">Atras</button></a>
</form>
</div>
