<div align="center" class="top">
  <h2> ¡Regístrate en Nuestra App de Eventos! </h2>
  <h4> Conoce eventos cerca y asiste con tus amigos </h4>
  <br />
  <form class="form-horizontal">
    <div class="form-group form-inline">
      <div class="col-sm-3 col-xs-1"></div>
      <label class="control-label col-sm-1 col-xs-2 right-space" for="name" align="right">Nombre:</label>
      <input class="form-control col-sm-5 col-sx-4" type="text" placeholder="Ingrese su nombre" aria-label="user_firstName" id="name" #user_firstName required>
    </div>
    <div class="form-group form-inline">
      <div class="col-sm-3"></div>
      <label class="control-label col-sm-1 right-space" for="lastName">Apellido:</label>
      <input class="form-control col-sm-5" type="text" placeholder="Ingrese su apellido" aria-label="user_lastName" id="lastName" #user_lastName required>
    </div>
    <div class="form-group form-inline">
      <div class="col-sm-3"></div>
      <label class="control-label col-sm-1 right-space" for="email">Email:</label>
      <input class="form-control col-sm-5" type="email" placeholder="Ingrese su email" aria-label="user_email" id="email " #user_email required
       alt="Ingrese su email" title="El correo debe ser de la forma correo@mail.com">
    </div>
    <div class="form-group form-inline">
      <div class="col-sm-3"></div>
      <label for="user_nickname" class="right-space col-sm-1">Nickname:</label>
      <input type="text" class="form-control col-sm-5" #user_nickname id="email" style="width: 15em" placeholder="Ingrese su nickname" required>
    </div>
    <div class="form-group form-inline">
      <div class="col-sm-3"></div>
      <label for="user_dateDay" class="right-space col-sm-1">Nacimiento</label>
      <input type="date" class="form-control col-sm-2 col-xs-4" #user_alldate id="email" style="width: 15em" reuired [max]="today">
    </div>


    <div class="form-group form-inline">
      <div class="col-sm-3"></div>
      <label class="control-label right-space col-sm-1" for="psw">Contraseña:</label>
      <input class="form-control col-sm-5 " type="password" placeholder="Ingrese su contraseña" aria-label="user_password" id="psw" #user_password>
    </div>
    <div class="form-group">
      <button (click)="add(user_firstName.value, user_lastName.value, user_email.value, user_nickname.value, user_password.value, user_alldate.value);" type="submit" class="btn btn-success custom-width-buttons">Crear usuario</button>
      <a routerLink="/login"><button type="submit" class="btn btn-success custom-width-buttons">Atras</button></a>
    </div>
  </form>
</div>
