.search-result{
  width: 100%;
}

.search-result:hover {
  background-color: #83cfe5 !important;
  color: white;
}

.search-result:active{
  background-color: black;
  color: white;
}

.invited-result {
  width: 100%;
}

.invited-result:hover {
  background-color: #e7908e !important;
  color: white;
}

.invited-result2 {
  width: 100%;
}

.invited-result2:hover {
  background-color: #9dd49d !important;
  color: white;
}

.custom-label {
  top: 0% !important;
}

#search-box{
  width: 200px;
  height: 20px;
}

.option-box{
  height: 8em;
  background: whitesmoke;
  padding: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
}
