/* You can add global styles to this file, and also import other style files */
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
.top{
    margin-top: 129px;
}

.evdiv{
    margin-top: 20px;
}

.sdiv{
    margin-top: 50px;
}

.custom-width-buttons{
  width: 20% !important;
  min-width: 150px;
  max-width: 200px;
}

.right-space{
  margin-right: 10px;
  justify-content: flex-end !important;
}

.img_icon{
  width: 16px;
}
