/* You can add global styles to this file, and also import other style files */
.top{
    margin-top: 129px;
}

.evdiv{
    margin-top: 20px;
}

.sdiv{
    margin-top: 50px;
}

.custom-width-buttons{
  width: 20% !important;
}
