<div class="container" style="margin-top: 100px;  margin-bottom: 100px">
    <div class="row">
        <div class="media">
            <div class="media-left">
                <img src="assets/iconos/{{event.category_id}}.png" class="media-object" style="width:200px;">
            </div>
            <div class="media-body" style="margin-left: 25px">
                <h4 class="media-heading" style="font-size: 32px;">{{event.name}}</h4><h3 style="font-size: 20px">{{ categorieOfEvent()}}</h3>
                <h2 style="font-size: 20px">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Inicia el {{event.beginAt|date: 'fullDate'}} a las {{event.beginAt |date:'shortTime'}}<br> 
                    <i class="fa fa-calendar" aria-hidden="true"></i> Finaliza el {{event.endAt|date: 'fullDate'}} a las {{event.endAt |date:'shortTime'}}<br>
                </h2>
                    <div style="margin-top: 20px; font-size: 18px">
                        <i class="fa fa-users" aria-hidden="true"></i> Cupos: {{event.assistants}}<br>
                        <div *ngIf="admin!=undefined"><i class="fa fa-user" aria-hidden="true"></i> Administrador: {{ adminOfEvent()}}<br></div>
                        <div *ngIf="event.isPrivate==false"><i class="fa fa-unlock" aria-hidden="true"></i> Privacidad: Público<br></div>
                        <div *ngIf="event.isPrivate==true"><i class="fa fa-lock" aria-hidden="true"></i> Privacidad: Privado<br></div>    
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Lugar: {{event.place}}<br>
                    </div>
                    <button type="submit" class="btn btn-success custom-width-buttons" (click)="goBack();">Atras</button>
                </div>
            </div>
        </div>
    </div>
